.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin: 40px 120px;
}
.project-title{
    position: relative;
}
.project-title h1{
    padding: 0px 5px;
    font-size: 60px;
    font-weight: 400;
}

.project-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    padding:20px;
    border-radius: 10px;
    border:4px solid white;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 15px;

}
.project-box h1{
    font-size: 23px;
    font-weight: 600;
}

.project-title h1 span{
    background: linear-gradient(270deg,#f89602  50%, #ae02fd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}